/* ==========================================================================
   General stuff
   ========================================================================== */

body, ul {
  margin:0;
  padding:0;
}

ul {
  list-style-type:none;
}

a {
  color:gray;
  display:block;
  text-decoration: none;
}

.container {
  margin:0px auto;
  width:1265px;

}
